:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-color: #000028;
  --button-color: #FF0070;
  --border-button-color: #FF0070;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --corner-color: #FF0070;
  --card-text-color: #F1B2CE;
}