:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-color: #FFF1F7;
  --button-color: #353430;
  --border-button-color: #353430;
  --corner-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --section-title-color: #353430;
  --card-text-color: #353430;
}

.theme-light .decor-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-color: #FFF1F7;
    --button-color: #353430;
    --corner-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --section-title-color: #353430;
    --card-text-color: #353430;
  }

  .decor-rec {
      display: none;
    }

} 