:root {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-color: #000028;
  --header-text-color: #000028;
  --button-color: #ff0070;
  --border-button-color: rgba(255, 0, 112, 0.4);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --corner-color: #ff0070;
  --section-title-color: #ff0070;
  --card-text-color: #f1b2ce;
  --default-padding: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  --font-family: "IBM Plex Mono", sans-serif;
}
